@import '/styles/colours.css';

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  margin: 8px;
  display: grid;
  grid-template-areas:
    'menu'
    'hero'
    'content'
    'footer';
  & > header {
    grid-area: hero;
  }
  & > main {
    grid-area: content;
  }
  & > nav {
    grid-area: menu;
  }
  & > footer {
    grid-area: footer;
  }
}

[hidden] {
  display: none !important;
}
