<app-layout subtitle="Details">
  <link rel="stylesheet" href="/scripts/components/sites/details.css">
  <nav>
    <div role="menubar">
      <a href="./files">Files</a>
      <a href="./settings">Configuration</a>
      <a href="./deployments">Deployments</a>
      <a href="./integrations">Integrations</a>
      <a href="./traffic">Traffic</a>
      <a href="./settings">Settings</a>
    </div>
  </nav>
  <main>
  </main>
</app-layout>
