@import '/styles/configuration.css';
@import '/styles/fonts.css';
@import '/styles/colours.css';

header {
  margin: 20px 0 0 0;
  & > h1 {
    text-align: center;
    max-width: var(--max-width);
    padding: 0 8px;
    margin: 0 auto;
    font-weight: 300;
    font-stretch: condensed;
    font-family: var(--font-stack-condensed);
    font-size: 48px;
    color: var(--color-foreground);
  }
}

main {
  & > form {
    max-width: var(--max-width);
    padding: 0 8px;
    margin: 0 auto;
    text-align: center;
    & > div {
      width: 100%;
      max-width: 400px;
      margin: 28px auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      & > label {
        background-color: var(--color-foreground);
        padding: 2px 20px 0 8px;
        font-weight: 300;
        font-stretch: condensed;
        font-family: var(--font-stack-condensed);
        font-size: 16px;
        color: var(--color-background);
      }
      & > input {
        color: var(--color-foreground);
        background-color: var(--color-background);
        border: 2px solid var(--color-foreground);
        padding: 10px 14px;
        font-family: var(--font-stack-sans-serif);
        font-size: 16px;
        margin: 0;
        width: 100%;
        box-sizing: border-box;
        &::placeholder {
          font-style: italic;
        }
      }
      & > a {
        color: var(--color-foreground);
        font-family: var(--font-stack-sans-serif);
        font-size: 16px;
      }
    }
    & > p {
      font-family: var(--font-stack-sans-serif);
      font-size: 16px;
      & > strong {
        font-weight: normal;
      }
      &#problem {
        padding: 10px;
        justify-content: center;
        max-width: 100%;
        margin: 1em auto;
        &:not([hidden]) {
          display: flex;
        }
        & > output {
          color: var(--color-foreground-warning);
          max-width: 400px;
          box-sizing: border-box;
          padding: 10px;
          background-color: var(--color-background-warning);
        }
      }
      & > button[type='submit'] {
        background-color: var(--color-background-cta);
        border: 2px solid var(--color-foreground);
        font-weight: 300;
        font-stretch: condensed;
        font-family: var(--font-stack-condensed);
        font-size: 24px;
        padding: 3px 40px;
        color: var(--color-foreground-cta);
        text-decoration: underline;
        cursor: pointer;
        &:active {
          color: var(--color-background-cta);
          background-color: var(--color-foreground-cta);
        }
      }
      & > a {
        color: var(--color-foreground);
      }
    }
  }
}
