<app-layout subtitle="Logged Out">
  <link rel="stylesheet" href="/scripts/components/account/logged-out.css">
  <main>
    <h1>Logged Out.</h1>
    <h2>🚪</h2>
    <p>Thank you, come again.</p>
    <a href="/login">Log In</a>
  </main>
</app-layout>
